Repository Frontend-executives/intant-search: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, vue-tsc --noEmit

chore/#3: add test case
  src/App.vue
Due: prettier --write, eslint --fix, vue-tsc --noEmit

chore/#3: add test case (#8)
  src/App.vue
Due: prettier --write, eslint --fix, vue-tsc --noEmit

feat/#4: add routes
  .lintstagedrc.json
  package-lock.json
  package.json
  postcss.config.js
  src/App.vue
  src/main.ts
  src/modules/auth/components/index.ts
  src/modules/auth/components/sign-in-page/sing-in-page.vue
  src/modules/core/router/index.ts
  src/modules/core/router/router.ts
  src/modules/core/router/routes-paths.ts
  src/modules/core/router/routes.ts
  src/modules/core/styles/index.css
  src/modules/duplicate/components/duplicate-page/duplicate-page.vue
  src/modules/duplicate/components/index.ts
  src/modules/invalid-replacement/components/index.ts
  src/modules/invalid-replacement/components/invalid-replacement-page/invalid-replacement-page.vue
  src/modules/obsolete-without-replacement/components/index.ts
  src/modules/obsolete-without-replacement/components/obsolete-without-replacement-page/obsolete-without-replacement-page.vue
  src/modules/relevant-with-replacement/components/index.ts
  src/modules/relevant-with-replacement/components/relevant-with-replacement-page/relevant-with-replacement-page.vue
  src/modules/search/components/index.ts
  src/modules/search/components/search-page/search-page.vue
  src/modules/self-replacement/components/index.ts
  src/modules/self-replacement/components/self-replacement-page/self-replacement-page.vue
  src/modules/without-brand/components/index.ts
  src/modules/without-brand/components/without-brand-page/without-brand-page.vue
  tailwind.config.js
  tsconfig.app.json
  vite.config.ts
Due: prettier --write, eslint --fix, vue-tsc --noEmit

feat/#4: add routes (#9)
  .lintstagedrc.json
  package-lock.json
  package.json
  postcss.config.js
  src/App.vue
  src/main.ts
  src/modules/auth/components/index.ts
  src/modules/auth/components/sign-in-page/sing-in-page.vue
  src/modules/core/router/index.ts
  src/modules/core/router/router.ts
  src/modules/core/router/routes-paths.ts
  src/modules/core/router/routes.ts
  src/modules/core/styles/index.css
  src/modules/duplicate/components/duplicate-page/duplicate-page.vue
  src/modules/duplicate/components/index.ts
  src/modules/invalid-replacement/components/index.ts
  src/modules/invalid-replacement/components/invalid-replacement-page/invalid-replacement-page.vue
  src/modules/obsolete-without-replacement/components/index.ts
  src/modules/obsolete-without-replacement/components/obsolete-without-replacement-page/obsolete-without-replacement-page.vue
  src/modules/relevant-with-replacement/components/index.ts
  src/modules/relevant-with-replacement/components/relevant-with-replacement-page/relevant-with-replacement-page.vue
  src/modules/search/components/index.ts
  src/modules/search/components/search-page/search-page.vue
  src/modules/self-replacement/components/index.ts
  src/modules/self-replacement/components/self-replacement-page/self-replacement-page.vue
  src/modules/without-brand/components/index.ts
  src/modules/without-brand/components/without-brand-page/without-brand-page.vue
  tailwind.config.js
  tsconfig.app.json
  vite.config.ts
Due: prettier --write, eslint --fix, vue-tsc --noEmit

feat/#7: add theme switcher
  .eslintignore
  components.json
  index.html
  package-lock.json
  package.json
  src/App.vue
  src/modules/core/components/dark-mode-switcher/dark-mode-switcher.vue
  src/modules/core/components/index.ts
  src/modules/core/lib/shad-cn/components/ui/button/Button.vue
  src/modules/core/lib/shad-cn/components/ui/button/index.ts
  src/modules/core/lib/shad-cn/utils.ts
  tailwind.config.js
  tailwind.config.ts
  vite.config.ts
Due: prettier --write, eslint --fix, vue-tsc --noEmit

feat/#7: add theme switcher (#10)
  .eslintignore
  components.json
  index.html
  package-lock.json
  package.json
  src/App.vue
  src/modules/core/components/dark-mode-switcher/dark-mode-switcher.vue
  src/modules/core/components/index.ts
  src/modules/core/lib/shad-cn/components/ui/button/Button.vue
  src/modules/core/lib/shad-cn/components/ui/button/index.ts
  src/modules/core/lib/shad-cn/utils.ts
  tailwind.config.js
  tailwind.config.ts
  vite.config.ts
Due: prettier --write, eslint --fix, vue-tsc --noEmit

feat/#11: protect routes
  src/App.vue
  src/modules/core/router/router.ts
  src/modules/core/router/routes-paths.ts
  src/modules/core/router/routes.ts
Due: prettier --write, eslint --fix, vue-tsc --noEmit

feat/#11: fix path
  src/modules/core/router/router.ts
Due: prettier --write, eslint --fix, vue-tsc --noEmit

feat/#11: protect routes (#12)
  src/App.vue
  src/modules/core/router/router.ts
  src/modules/core/router/routes-paths.ts
  src/modules/core/router/routes.ts
Due: prettier --write, eslint --fix, vue-tsc --noEmit

feat/#13: add router transitions
  src/App.vue
  src/modules/core/router/router.ts
Due: prettier --write, eslint --fix, vue-tsc --noEmit

feat/#13: add router transitions (#16)
  src/App.vue
  src/modules/core/router/router.ts
Due: prettier --write, eslint --fix, vue-tsc --noEmit

feat/#14: add error pages
  .eslintrc.cjs
  public/images/404.svg
  public/images/500.svg
  src/main.ts
  src/modules/core/components/app/app.vue
  src/modules/core/components/error-boundary/error-boundary.vue
  src/modules/core/components/index.ts
  src/modules/core/components/not-found/not-found.vue
  src/modules/core/components/page-error/page-error.vue
  src/modules/core/components/typography/typography.vue
  src/modules/core/router/routes.ts
Due: prettier --write, eslint --fix, vue-tsc --noEmit

feat/#14: fix error boundary export
  src/modules/core/components/app/app.vue
  src/modules/core/components/error-boundary/error-boundary.vue
  src/modules/core/components/index.ts
Due: prettier --write, eslint --fix, vue-tsc --noEmit

feat/#14: add error pages (#17)
  .eslintrc.cjs
  public/images/404.svg
  public/images/500.svg
  src/main.ts
  src/modules/core/components/app/app.vue
  src/modules/core/components/error-boundary/error-boundary.vue
  src/modules/core/components/index.ts
  src/modules/core/components/not-found/not-found.vue
  src/modules/core/components/page-error/page-error.vue
  src/modules/core/components/typography/typography.vue
  src/modules/core/router/routes.ts
Due: prettier --write, eslint --fix, vue-tsc --noEmit

chore: extend modules
  src/main.ts
  src/modules/auth/components/index.ts
  src/modules/core/components/app/app.vue
  src/modules/core/components/error-template/error-template.vue
  src/modules/core/components/index.ts
  src/modules/core/providers/error-capture/error-capture.vue
  src/modules/core/providers/index.ts
  src/modules/core/providers/router-view-with-transitions/router-vue-with-transitions.vue
  src/modules/duplicate/components/index.ts
  src/modules/invalid-replacement/components/index.ts
  src/modules/obsolete-without-replacement/components/index.ts
  src/modules/relevant-with-replacement/components/index.ts
  src/modules/search/components/index.ts
  src/modules/self-replacement/components/index.ts
  src/modules/without-brand/components/index.ts
  src/pages/duplicate/duplicate.vue
  src/pages/index.ts
  src/pages/invalid-replacement/invalid-replacement.vue
  src/pages/not-found/not-found.vue
  src/pages/obsolete-without-replacement/obsolete-without-replacement.vue
  src/pages/relevant-with-replacement/relevant-with-replacement.vue
  src/pages/search/search.vue
  src/pages/self-replacement/self-replacement.vue
  src/pages/sign-in/sing-in.vue
  src/pages/without-brand/without-brand.vue
  src/settings/router/index.ts
  src/settings/router/router.ts
  src/settings/router/routes-paths.ts
  src/settings/router/routes.ts
  tsconfig.app.json
  vite.config.ts
  vitest.config.ts
Due: prettier --write, eslint --fix, vue-tsc --noEmit

feat/#6: add navigation
  src/modules/core/components/app/app.vue
  src/modules/core/components/index.ts
  src/modules/core/components/navigation/navigation.vue
  src/modules/core/components/typography/typography.vue
  src/modules/core/providers/error-capture/error-capture.vue
Due: prettier --write, eslint --fix, vue-tsc --noEmit

feat/#6: add icons
  package-lock.json
  package.json
  public/images/dark-theme-logo.png
  public/images/light-theme-logo.png
  src/modules/core/components/app/app.vue
  src/modules/core/components/dark-mode-switcher/dark-mode-switcher.vue
  src/modules/core/components/index.ts
  src/modules/core/components/logo/logo.vue
  src/modules/core/components/navigation/navigation.vue
  src/modules/core/components/sidebar/sidebar.vue
  src/modules/core/lib/shad-cn/components/ui/separator/Separator.vue
  src/modules/core/lib/shad-cn/components/ui/separator/index.ts
Due: prettier --write, eslint --fix, vue-tsc --noEmit

Feat/#6 (#18)
  package-lock.json
  package.json
  public/images/dark-theme-logo.png
  public/images/light-theme-logo.png
  src/modules/core/components/app/app.vue
  src/modules/core/components/dark-mode-switcher/dark-mode-switcher.vue
  src/modules/core/components/index.ts
  src/modules/core/components/logo/logo.vue
  src/modules/core/components/navigation/navigation.vue
  src/modules/core/components/sidebar/sidebar.vue
  src/modules/core/components/typography/typography.vue
  src/modules/core/lib/shad-cn/components/ui/separator/Separator.vue
  src/modules/core/lib/shad-cn/components/ui/separator/index.ts
  src/modules/core/providers/error-capture/error-capture.vue
Due: prettier --write, eslint --fix, vue-tsc --noEmit

feat/sign-in: add auth state and routing functionality
  package-lock.json
  package.json
  src/main.ts
  src/modules/core/components/app/app.vue
  src/modules/core/components/error-template/error-template.vue
  src/modules/core/components/index.ts
  src/modules/core/components/navigation-link/navigation-link.vue
  src/modules/core/components/navigation/navigation.vue
  src/modules/core/components/sidebar/sidebar.vue
  src/modules/core/components/typography/typography.vue
  src/modules/core/lib/shad-cn/components/ui/form/FormControl.vue
  src/modules/core/lib/shad-cn/components/ui/form/FormDescription.vue
  src/modules/core/lib/shad-cn/components/ui/form/FormItem.vue
  src/modules/core/lib/shad-cn/components/ui/form/FormLabel.vue
  src/modules/core/lib/shad-cn/components/ui/form/FormMessage.vue
  src/modules/core/lib/shad-cn/components/ui/form/index.ts
  src/modules/core/lib/shad-cn/components/ui/form/injectionKeys.ts
  src/modules/core/lib/shad-cn/components/ui/form/useFormField.ts
  src/modules/core/lib/shad-cn/components/ui/input/Input.vue
  src/modules/core/lib/shad-cn/components/ui/input/index.ts
  src/modules/core/lib/shad-cn/components/ui/label/Label.vue
  src/modules/core/lib/shad-cn/components/ui/label/index.ts
  src/modules/user/model/auth.ts
  src/pages/sign-in/sing-in.vue
  src/settings/router/router.ts
  src/settings/router/routes.ts
Due: prettier --write, eslint --fix, vue-tsc --noEmit

feat/sign-in: add esnext
  vite.config.ts
Due: none

feat/sign-in: add cookie auth
  package-lock.json
  package.json
  src/main.ts
  src/modules/core/model/core.ts
  src/modules/user/constants/auth.ts
  src/modules/user/model/auth.ts
  src/pages/sign-in/sing-in.vue
Due: prettier --write, eslint --fix, vue-tsc --noEmit

Initial commit from Create Next App
  .eslintrc.json
  .gitignore
  .idea/.gitignore
  README.md
  next.config.ts
  package-lock.json
  package.json
  postcss.config.mjs
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
  src/app/favicon.ico
  src/app/fonts/GeistMonoVF.woff
  src/app/fonts/GeistVF.woff
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  tailwind.config.ts
  tsconfig.json
Due: prettier --write

crete project
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/git_toolbox_blame.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/intant-search.iml
  .idea/jsLinters/eslint.xml
  .idea/modules.xml
  .idea/prettier.xml
  .idea/vcs.xml
  .prettierrc
  package-lock.json
  package.json
  src/app/fonts/GeistMonoVF.woff
  src/app/fonts/GeistVF.woff
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
Due: prettier --write

add only desktop statet
  components.json
  package-lock.json
  package.json
  public/desktop.svg
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
  src/app/globals.css
  src/app/layout.tsx
  src/features/only-desktop/ui/index.tsx
  src/shared/lib/shad-cn/utils.ts
  src/shared/ui/typography/index.tsx
  tailwind.config.ts
Due: prettier --write, eslint --fix, vue-tsc --noEmit

create error page
  package-lock.json
  package.json
  public/500.svg
  public/mobile.svg
  src/app/error.tsx
  src/app/globals.css
  src/features/only-desktop/ui/index.tsx
  src/shared/lib/shad-cn/components/ui/button.tsx
  src/shared/ui/notification/index.tsx
Due: prettier --write

add 404
  public/404.svg
  public/desktop.svg
  src/app/error.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/shared/settings/router-paths.ts
Due: prettier --write, eslint --fix, vue-tsc --noEmit

add loading
  public/loading.svg
  src/app/layout.tsx
  src/features/loading-screen/ui/index.tsx
Due: none

add logo
  package-lock.json
  package.json
  public/logo.png
  src/app/layout.tsx
  src/shared/ui/header/index.tsx
Due: none

fix screens
  src/app/layout.tsx
  src/features/loading-screen/ui/index.tsx
  src/features/only-desktop/ui/index.tsx
  src/shared/ui/notification/index.tsx
Due: none

add search input
  src/app/page.tsx
  src/shared/lib/shad-cn/components/ui/input.tsx
Due: none

create core data request
  .eslintrc.json
  package-lock.json
  package.json
  src/_pages/search/ui/index.tsx
  src/app/layout.tsx
  src/app/model/index.ts
  src/app/page.tsx
  src/app/providers/core-data-provider/ui/index.tsx
  src/app/providers/loading-screen-provider/ui/index.tsx
  src/app/providers/only-desktop-provider/ui/index.tsx
  src/shared/api/index.ts
  src/shared/settings/app-script.ts
  src/shared/settings/auth.ts
Due: prettier --write, eslint --fix, vue-tsc --noEmit

upgrade messages
  public/404.svg
  src/_pages/search/model/index.ts
  src/_pages/search/ui/empty-results/index.tsx
  src/_pages/search/ui/index.tsx
  src/_pages/search/ui/search-input/index.tsx
  src/_pages/search/ui/some-results/index.tsx
  src/app/error.tsx
  src/app/not-found.tsx
  src/app/providers/loading-screen-provider/ui/index.tsx
  src/app/providers/only-desktop-provider/ui/index.tsx
  src/shared/ui/notification/index.tsx
Due: prettier --write, eslint --fix, vue-tsc --noEmit

add results list
  public/404.svg
  public/500.svg
  public/desktop.svg
  public/empty-search.svg
  public/loading.svg
  public/mobile.svg
  public/some-results.svg
  public/try-to-search.svg
  src/_pages/search/lib/filter-equipment-by-query.ts
  src/_pages/search/model/index.ts
  src/_pages/search/ui/empty-results/index.tsx
  src/_pages/search/ui/found-equipment-badge/index.tsx
  src/_pages/search/ui/index.tsx
  src/_pages/search/ui/search-input/index.tsx
  src/_pages/search/ui/search-result-stepper/index.tsx
  src/_pages/search/ui/some-results/index.tsx
  src/app/error.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/providers/loading-screen-provider/ui/index.tsx
  src/app/providers/only-desktop-provider/ui/index.tsx
  src/shared/lib/shad-cn/components/ui/badge.tsx
  src/shared/ui/header/index.tsx
  src/shared/ui/notification/index.tsx
  src/shared/ui/typography/index.tsx
Due: prettier --write, eslint --fix, vue-tsc --noEmit

add tests for filter-equipment-by-query
  jest.config.ts
  package-lock.json
  package.json
  src/_pages/search/lib/__tests__/filter-equipment-by-query.test.ts
  src/shared/ui/notification/index.tsx
Due: prettier --write, eslint --fix, vue-tsc --noEmit

fix: remove import
  src/_pages/search/ui/search-result-stepper/index.tsx
Due: none

fix: loading state
  src/app/model/index.ts
  src/shared/ui/notification/index.tsx
Due: prettier --write, eslint --fix, vue-tsc --noEmit

fix: typography size
  src/shared/ui/typography/index.tsx
Due: none

feat: add model status popover
  package-lock.json
  package.json
  src/_pages/search/model/index.ts
  src/_pages/search/ui/found-equipment-badge/index.tsx
  src/_pages/search/ui/obsolete-equipment/index.tsx
  src/_pages/search/ui/relevant-equipment/index.tsx
  src/_pages/search/ui/search-result-stepper/index.tsx
  src/app/layout.tsx
  src/shared/lib/shad-cn/components/ui/hover-card.tsx
  src/shared/lib/shad-cn/components/ui/sonner.tsx
Due: prettier --write, eslint --fix, vue-tsc --noEmit

feat: add tooltips
  package-lock.json
  package.json
  src/_pages/search/ui/obsolete-equipment/index.tsx
  src/_pages/search/ui/search-input/index.tsx
  src/shared/lib/shad-cn/components/ui/tooltip.tsx
Due: none

feat: add network error notifications
  package-lock.json
  package.json
  public/broken-contract.svg
  public/network-problem.svg
  public/unknown-request-error.svg
  src/_pages/search/ui/search-result-stepper/index.tsx
  src/app/error.tsx
  src/app/layout.tsx
  src/app/model/index.ts
  src/app/not-found.tsx
  src/app/providers/core-data-provider/index.tsx
  src/app/providers/general-request-error-provider/index.tsx
  src/app/providers/loading-screen-provider/index.tsx
  src/app/providers/n-progress-provider/index.tsx
  src/app/providers/only-desktop-provider/index.tsx
  src/shared/ui/notification/index.tsx
Due: prettier --write, eslint --fix, vue-tsc --noEmit

Path conditions:
  prettier --write: (any of: src/**/*.css) or (any of: src/**/*.{ts,vue})
  eslint --fix: any of: src/**/*.{ts,vue}
  vue-tsc --noEmit: any of: src/**/*.{ts,vue}
